---
import { personalInfo } from "../data/portfolio";
import MailIcon from "./icons/MailIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
---

<section id="hero" class="relative flex items-center justify-center px-6 pt-20">
  <div class="text-center z-10">
    <div class="mb-8 animate-fade-in">
      <div
        class="w-32 h-32 mx-auto mb-6 bg-gradient-to-br from-light-primary to-light-secondary rounded-full flex items-center justify-center text-6xl animate-float"
      >
        👨‍💻
      </div>
      <h1 class="text-5xl md:text-7xl font-bold mb-4 text-light-primary">
        {personalInfo.name}
      </h1>
      <h2 class="text-3xl md:text-4xl font-mono text-light-text-body mb-6">
        {personalInfo.lastName}
      </h2>
      <p
        class="text-xl md:text-2xl text-light-text-body mb-8 max-w-2xl mx-auto"
      >
        {personalInfo.description}
      </p>
      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <a
          href="#projects"
          class="px-8 py-3 bg-light-primary hover:shadow-lg hover:shadow-light-primary transition-all duration-300 transform hover:scale-105 text-light-white"
        >
          Ver Proyectos
        </a>
        <a
          href="#contact"
          class="px-8 py-3 border border-light-primary text-light-primary hover:border-light-secondary transform hover:scale-105 transition-all duration-300"
        >
          Contáctame
        </a>
      </div>
    </div>
    <div
      class="flex justify-center space-x-6 text-2xl animate-fade-in"
      style="animation-delay: 0.5s;"
    >
      <a
        href={`mailto:${personalInfo.email}`}
        class="hover:text-light-secondary transition-colors"
        ><MailIcon class="size-8" /></a
      >
      <a
        href={personalInfo.linkedin}
        class="hover:text-light-secondary transition-colors"
        ><LinkedInIcon class="size-8" /></a
      >
      <a
        href={personalInfo.github}
        class="hover:text-light-secondary transition-colors"
        ><GitHubIcon class="size-8" /></a
      >
    </div>
  </div>
</section>
